<launch>
<!-- This launch file is used to draw the world map in rviz -->

  <rosparam command="load" file="$(find roadmap)/config/map_params.yaml"/>
  <rosparam command="load" file="$(find global_search)/config/search_params.yaml"/>

  <!-- launch-prefix="gdb -''-args" -->
  <node name="prm_search" pkg="global_search" type="prm_search" output="screen" />
  <node name="draw_world" pkg="roadmap" type="draw_world" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" required="true" args=" -d $(find roadmap)/config/prm.rviz"/>
</launch>
